@model IEnumerable<Articles.Models.Article>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.articles

@{
    ViewBag.Title = "Index";
}
<h2 class="text-info pt-5 pb-5">List of Publications</h2>
@if (User.IsInRole("Admin"))
{
    <p class="text-success">
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "text-success" })
    </p>
}


@foreach (var item in Model)
{
    <div class="card border">
        <div class="card-body">
            <h3 class="card-title">
                @Html.DisplayFor(modelItem => item.Category.Name)
            </h3>
            <p class="text-muted">
                <small>Publisher: @Html.DisplayFor(modelItem => item.AspNetUser.Email)</small>
            </p>
            <p class="card-text font-weight-bold ">
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p class="text-muted">
                <small>date of publication @Html.DisplayFor(modelItem => item.ArticleDate)</small>
            </p>
        </div>
        <div class="card-footer">
            <h4 class="card-title">Comments</h4>
            @foreach (var Comment in item.Comments)
            {
                <p class="text-muted">
                    <small> @Html.DisplayFor(x => Comment.AspNetUser.UserName)</small>
                </p>
                <p class="text-info">
                    @Html.DisplayFor(modelItem => Comment.CommentName)
                </p>
            }
        </div>
    </div>
    @Html.ActionLink("Create Comment", "CreateComment", "Comments", new { id = item.Id }, new { @class = "btn btn-info" })

}

